.row {
  display: flex;
  justify-content: center; /* Canh giữa các hàng theo chiều ngang */
  
}

.rectangle {
   width: 200px;
    height: 150px;
    margin: 10px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 30px;
  flex-wrap: wrap;
  text-align:center;
}
.red {
    background-color: #FF5733;
    color: #FFF;
}

.green {
    background-color: #33FF57;
    color: #000;
}

.blue {
    background-color: #3366FF;
    color: #FFF;
}

.yellow {
    background-color: #FFFF33;
    color: #000;
}

.purple {
    background-color: #9900CC;
    color: #FFF;
}

.orange {
    background-color: #FFA500;
    color: #FFF;
}
.rectangle.active {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}
.hand-cursor {
            cursor: pointer;
        }
